/* Table of Contents */

/* -----------------------------------------------------*/

/* >>> 1. RESETS  <<<<<<<<<<<<< */

/* >>> 2. CSS VARIABLES  <<<<<< */

/* >>> 3. FONTS  <<<<<<<<<<<<<< */

/* >>> 4. MAIN <<<<<<<<<< */

/* >>> 5. COMPONENTS <<<<<<<<<< */

/* >>> 6. VARIA <<<<<<<<<<<<<<< */

/* -----------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");

/* >>> 1. RESETS  <<<<<<<<<<<<< */
:root {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;

  /* >>> 2. CSS VARIABLES <<<<<<< */

  --color-black: #0f0000;
  --color-grey: #bababa;
  --color-white: aliceblue;
  --color-green: #baf584;
  --color-purple: #2d0041;

  /* >>> 3. FONTS  <<<<<<<<<<<<<< */

  --font-heading-narrow: "Arima", sans-serif;
  --font-heading-80s: "Rubik 80s Fade", sans-serif;
  --font-headings: "Mona Sans", sans-serif;
  --font-handwritten-Beth: "Beth Ellen", cursive;
}

@font-face {
  font-family: var(--font-heading-narrow);
  src: url("./fonts/Arima/Arima-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Mona Sans";
  src: url("./fonts/Mona_Sans/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("./fonts/Mona_Sans/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: "Mona Sans";
}

/* >>> 4. MAIN <<<<<<<<<< */

body,
html {
  padding: 0;
  margin: 0;
  max-height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
  background-color: var(--color-purple);
  background-image: url("./images/textures/black-linen.png");
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 4rem;
  overflow: scroll;
  height: calc(100dvh - 20rem);
}

.main-landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(35rem, 20vw, 45rem);
  padding: 8rem;
}

@media (max-width: 600px) {
  .main-landing {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 0;
  }

  #welcome-section {
    display: none;
  }
}

header,
footer {
  background-color: var(--color-black);
  background-image: url("./images/textures/black-linen.png");
  color: var(--color-white);
  font-family: var(--font-handwritten-Beth);
  padding: 0 2rem 0 2rem;
  box-shadow: 0 0 1rem 0.2rem var(--color-black);
}

.header-pages {
  display: flex;
  justify-content: space-between;
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-handwritten-Beth);
  font-size: clamp(1rem, 1vw + 1rem, 5rem);
  height: 100%;
}

.main-nav > *:first-child {
  font-size: 3.5rem;
}

/* For subpages */
.sub-nav {
  justify-content: center; /* Center items horizontally */
  align-items: center;
}

.sub-nav #arrow-back {
  padding-right: clamp(1rem, 1vw, 2rem);
  width: clamp(3rem, 1vw, 3rem);
  margin-top: 2rem;
}

.sub-nav #home {
  width: clamp(3rem, 1vw, 3rem);
  margin-top: 2rem;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-green);
  text-decoration: underline;
}

p {
  color: var(--color-white);
  font-family: var(--font-regular);
  font-size: 2rem;
  line-height: 1.5;
}

h1 {
  color: var(--color-white);
  font-family: var(--font-handwritten-Beth);
  font-size: 3rem;
  text-align: center;
}

h3 {
  color: var(--color-white);
  font-family: var(--font-handwritten-Beth);
  font-size: 2rem;
}

/* >>> 5. COMPONENTS <<<<<<<<<< */

/* Portrait Section */

#portrait-section {
  justify-self: center;
  align-self: center;
}

.portrait {
  position: relative;
  background-color: var(--color-white);
  color: blue;
  width: clamp(15rem, 20vw, 50rem);
  height: max-content;
  padding: 1rem;
  border-radius: 0.2rem;
  transform: rotate(10deg);
}

.portrait img {
  max-width: 100%;
  height: auto;
}

.portrait figcaption {
  font-size: 1.8rem;
  font-family: var(--font-handwritten-Beth);
  text-align: end;
  padding-right: 3rem;
}

.portrait::before,
.portrait::after {
  content: "";
  position: absolute;
  rotate: 45deg;
  background-color: var(--color-green);
  background-image: linear-gradient(
    45deg,
    rgba(0, 217, 255, 0.8) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 217, 255, 0.8) 50%,
    rgba(0, 217, 255, 0.8) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  box-shadow: 0rem 0rem 1rem -0.2rem var(--color-black),
    0rem 0rem 1.5rem -0.3rem var(--color-black),
    inset 0px 0px 1px rgba(0, 0, 0, 0.4);
  clip-path: polygon(0% 0%, 100% 5%, 95% 100%, 0% 95%);
}

.portrait::before {
  left: -0.5rem;
  top: -2rem;
  width: 2rem;
  height: 5rem;
}

.portrait::after {
  right: 0.7rem;
  bottom: -3.3rem;
  width: 2rem;
  height: 8rem;
}

/* >>> 6. VARIA <<<<<<<<<<<<<<< */
